# Workbook

Use this notebook to complete the exercises throughout the workshop.

#### Table of Contents
- [Section 1 &ndash; Getting Started with Pandas](#Section-1)
- [Section 2 &ndash; Data Wrangling](#Section-2)
- [Section 3 &ndash; Data Visualization](#Section-3)

---

### Section 1

#### Exercise 1.1
##### Create a DataFrame by reading in the `2019_Yellow_Taxi_Trip_Data.csv` file. Examine the first 5 rows.

In [24]:



import pandas as pd

taxis = pd.read_csv('2019_Yellow_Taxi_Trip_Data.csv')

taxis.head()

,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,ratecodeid,store_and_fwd_flag,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,2,2019-10-23T16:39:42.000,2019-10-23T17:14:10.000,1,7.93,1,N,138,170,1,29.5,1.0,0.5,7.98,6.12,0.3,47.90,2.5
1,1,2019-10-23T16:32:08.000,2019-10-23T16:45:26.000,1,2.00,1,N,11,26,1,10.5,1.0,0.5,0.00,0.00,0.3,12.30,0.0
2,2,2019-10-23T16:08:44.000,2019-10-23T16:21:11.000,1,1.36,1,N,163,162,1,9.5,1.0,0.5,2.00,0.00,0.3,15.80,2.5
3,2,2019-10-23T16:22:44.000,2019-10-23T16:43:26.000,1,1.00,1,N,170,163,1,13.0,1.0,0.5,4.32,0.00,0.3,21.62,2.5
4,2,2019-10-23T16:45:11.000,2019-10-23T16:58:49.000,1,1.96,1,N,163,236,1,10.5,1.0,0.5,0.50,0.00,0.3,15.30,2.5

#### Exercise 1.2
##### Find the dimensions (number of rows and number of columns) in the data.

In [20]:
taxi_list = taxis.columns

print(len(taxi_list))

# 18 columns

18

In [13]:
taxis.index

# 10000 rows of data

RangeIndex(start=0, stop=10000, step=1)

In [21]:
taxis.shape

#10000 rows and 18 columns

(10000, 18)

#### Exercise 1.3
##### Using the data in the `2019_Yellow_Taxi_Trip_Data.csv` file, calculate summary statistics for the `fare_amount`, `tip_amount`, `tolls_amount`, and `total_amount` columns.

In [30]:

round(taxis['fare_amount'].mean(), 2)

np.float64(15.11)

In [25]:
taxis['fare_amount'].median()

10.0

In [31]:
round(taxis['tip_amount'].mean(),2)

np.float64(2.63)

In [33]:
taxis['tip_amount'].median()

2.0

In [34]:
round(taxis['tolls_amount'].mean(), 2)

np.float64(0.62)

In [35]:
taxis['tolls_amount'].median()

0.0

In [36]:
round(taxis['total_amount'].mean(), 2)

np.float64(22.56)

In [37]:
taxis['total_amount'].median()

16.3

In [38]:
taxis['total_amount'].max()

671.8

#### Exercise 1.4
##### Isolate the `fare_amount`, `tip_amount`, `tolls_amount`, and `total_amount` for the longest trip by distance (`trip_distance`).

In [49]:
taxis[['fare_amount', 'tip_amount', 'tolls_amount', 'total_amount', 'trip_distance']]


new_frame = taxis.sort_values('trip_distance', ascending = False)


new_frame[['trip_distance','fare_amount', 'tip_amount', 'tolls_amount', 'total_amount']]

      trip_distance  fare_amount  tip_amount  tolls_amount  total_amount
8338          38.11        176.0       18.29          6.12        201.21
9965          37.86         52.0        0.00          6.12         65.92
1656          37.57         52.0       13.18          6.12         79.10
2237          28.41         87.5        0.00          6.12         95.42
436           28.06         52.0       13.18          6.12         79.10
...             ...          ...         ...           ...           ...
7221           0.00         20.0        0.00          0.00         21.30
6094           0.00          2.5        0.00          0.00          6.80
6092           0.00          2.5        0.00          0.00          4.30
9923           0.00         24.2        0.00          0.00         25.00
24             0.00         52.0        0.00          0.00         57.30

[10000 rows x 5 columns]

---

### Section 2

#### Exercise 2.1
##### Read in the meteorite data from the `Meteorite_Landings.csv` file, rename the `mass (g)` column to `mass`, and drop all the latitude and longitude columns. Sort the result by mass in descending order.

#### Exercise 2.2
##### Using the meteorite data from the `Meteorite_Landings.csv` file, update the `year` column to only contain the year, convert it to a numeric data type, and create a new column indicating whether the meteorite was observed falling before 1970. Set the index to the `id` column and extract all the rows with IDs between 10,036 and 10,040 (inclusive) with `loc[]`.

###### **Hint 1**: Use `year.str.slice()` to grab a substring.

###### **Hint 2**: Make sure to sort the index before using `loc[]` to select the range.

###### **Bonus**: There's a data entry error in the `year` column. Can you find it? (Don't spend too much time on this.)

#### Exercise 2.3
##### Using the meteorite data from the `Meteorite_Landings.csv` file, create a pivot table that shows both the number of meteorites and the 95th percentile of meteorite mass for those that were found versus observed falling per year from 2005 through 2009 (inclusive). Hint: Be sure to convert the `year` column to a number as we did in the previous exercise.

#### Exercise 2.4
##### Using the meteorite data from the `Meteorite_Landings.csv` file, compare summary statistics of the mass column for the meteorites that were found versus observed falling.

#### Exercise 2.5
##### Using the taxi trip data in the `2019_Yellow_Taxi_Trip_Data.csv` file, resample the data to an hourly frequency based on the dropoff time. Calculate the total `trip_distance`, `fare_amount`, `tolls_amount`, and `tip_amount`, then find the 5 hours with the most tips.

---

### Section 3

#### Exercise 3.1
##### Using the TSA traveler throughput data in the `tsa_melted_holiday_travel.csv` file, create box plots for traveler throughput for each year in the data. Hint: Pass `kind='box'` into the `plot()` method to generate box plots.

#### Exercise 3.2
##### Using the TSA traveler throughput data in the `tsa_melted_holiday_travel.csv` file, create a heatmap that shows the 2019 TSA median traveler throughput by day of week and month.

#### Exercise 3.3
##### Annotate the medians in the box plot from *[Exercise 3.1](#Exercise-3.1)*. Hint: The `x` coordinates will be 1, 2, and 3 for 2019, 2020, and 2021, respectively. Alternatively, to avoid hardcoding values, you can use the `Axes.get_xticklabels()` method, in which case you should look at the [documentation](https://matplotlib.org/stable/api/text_api.html) for the `Text` class.